<!-- COPYRIGHT-->
<section class="p-t-60 p-b-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    
                    <p>Copyright © 2020 <a href="https://kecua.ac.in/"></a>. All rights reserved.</p>
                    <p>Developer Team : 
                         Divyanshu Joshi <a href="https://www.linkedin.com/in/divyanshujoshi-/"><i class="fab fa-linkedin-in"></i> </a>, 
                        Nikhil Bhatt <a href="https://www.linkedin.com/in/nik-bhatt/"><i class="fab fa-linkedin-in"></i> </a>, 
                        Manish Sharma <a href="https://www.linkedin.com/in/manish-sharma-694263157/"><i class="fab fa-linkedin-in"></i> </a>, 
                        Kunwar Chitraksh Singh Vaisla <a href="https://www.linkedin.com/in/dr-kunwar-singh-vaisla-2a835812/"><i class="fab fa-linkedin-in"></i></a>,
                        Tanea Joshi <a href="https://www.linkedin.com/in/taneajoshi/"> <i class="fab fa-linkedin-in"></i></a>. 
                         Under the guidance of
                         <a href="https://www.linkedin.com/in/dr-kunwar-singh-vaisla-2a835812/">Dr. Kunwar Singh Vaisla <i class="fab fa-linkedin-in"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END COPYRIGHT-->
</div>

</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Jquery JS-->
<!-- <script src="<?php echo URLROOT;?>vendor/jquery-3.2.1.min.js"></script> -->
<!-- Bootstrap JS-->
<script src="<?php echo URLROOT;?>vendor/bootstrap-4.1/popper.min.js"></script>
<script src="<?php echo URLROOT;?>vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="<?php echo URLROOT;?>vendor/slick/slick.min.js">
</script>
<script src="<?php echo URLROOT;?>vendor/wow/wow.min.js"></script>
<script src="<?php echo URLROOT;?>vendor/animsition/animsition.min.js"></script>
<script src="<?php echo URLROOT;?>vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="<?php echo URLROOT;?>vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="<?php echo URLROOT;?>vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="<?php echo URLROOT;?>vendor/circle-progress/circle-progress.min.js"></script>
<script src="<?php echo URLROOT;?>vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="<?php echo URLROOT;?>vendor/chartjs/Chart.bundle.min.js"></script>
<script src="<?php echo URLROOT;?>vendor/select2/select2.min.js">
</script>

<!-- Main JS-->
<script src="<?php echo URLROOT;?>js/main.js"></script>



</body>

</html>
<!-- end document-->
