<!-- HEADER DESKTOP-->
<header class="header-desktop3 d-none d-lg-block" style="height: 110px;">
    <div class="section__content section__content--p35">
        <div class="header3-wrap">
            <div class="header__logo mb-2">
                <a href="<?php echo URLROOT;?>Dashboard">
                    <img src="<?php echo URLROOT;?>images/icon/covidlogo.jpg" alt="COVID19" /><span style="width:10px;height:10px;color: aliceblue; font-family:monospace;"> </span>
                </a>
            </div>

            <div class="header__navbar mt-2">
                <h1 class="text-light text-center">Uttarakhand COVID-19</h1>
                <ul class="list-unstyled">

                    <li>
                        <a href="<?php echo URLROOT;?>Dashboard">
                            <i class="fas fa-home"></i>
                            <span class="bot-line"></span>Home</a>
                    </li>

                    <li class="has-sub">
                        <a href="<?php echo URLROOT;?>HelpFullInfo">
                            <i class="fas fa-info"></i>Helpful Information
                            <span class="bot-line"></span>
                        </a>
                    </li>
                    <!---li>
                        <a href="<?php echo URLROOT;?>ReportGathering">
                            <i class="fas fa-edit"></i>
                            <span class="bot-line"></span>Report A Gathering</a>
                    </li--->



                    <li>
                        <a href="<?php echo URLROOT;?>Screening">
                            <i class="fas fa-desktop"></i>
                            <span class="bot-line"></span>COVID-19 Screening</a>
                    </li>

                    <li>
                        <a href="<?php echo URLROOT;?>CovidNearYou/location">
                            <i class="fas fa-search"></i>
                            <span class="bot-line"></span>COVID-19 Near You</a>
                    </li>
                    <li>
                        <a href="<?php echo URLROOT;?>News/show">
                            <i class="fas fa-newspaper"></i>
                            <span class="bot-line"></span>Publicity</a>
                    </li>
                    <!--      <li>
                        <a href="<?php echo URLROOT;?>Bulletin">
                            <i class="fas fa-bell"></i>
                            <span class="bot-line"></span>Covid-19 Bulletins</a>
                    </li>
                    -->
                    <li>
                        <a href="<?php echo URLROOT;?>Analysis/show">
                            <i class="fas fa-chart-line"></i>
                            <span class="bot-line"></span>Covid-19 Analysis</a>
                    </li>



                    <li class="has-sub">
                        <a href="<?php echo URLROOT;?>Donate">
                            <i class="fas fa-rupee"></i>
                            <span class="bot-line"></span>Donate</a>

                    </li>
                </ul>
            </div>

        </div>

    </div>
</header>
<!-- END HEADER DESKTOP-->