<!-- HEADER MOBILE-->
<header class="header-mobile header-mobile-2 d-block d-lg-none">
    <div class="header-mobile__bar ">
        <div class="container-fluid">
            <div class="header-mobile-inner ">
                <a class="logo" href="<?php echo URLROOT;?>Dashboard">
                    <img src="<?php echo URLROOT;?>images/icon/covidlogo.jpg" alt="Logo" />
                </a>
                <p class="text-light ">COVID19 Uttarakhand </p>

            </div>
        </div>
    </div>
    <nav class="navbar">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-styled text-white">

                <li class="has-sub">
                    <a class="text-white" href="<?php echo URLROOT;?>Dashboard">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="has-sub">
                    <a class="text-white" href="<?php echo URLROOT;?>HelpFullInfo">
                        <i class="fas fa-info"></i> Helpful Information</a>
                </li>
                <!--li class="has-sub">
                    <a  class = "text-white"href="<?php echo URLROOT;?>ReportGathering">
                        <i class="fas fa-edit"></i> Report Gathering</a>
                </li-->
                <li class="has-sub">
                    <a class="text-white" href="<?php echo URLROOT;?>Screening">
                        <i class="fas fa-desktop"></i> COVID19 Screening</a>
                </li>
                <li class="has-sub">
                    <a class="text-white" href="<?php echo URLROOT?>/CovidNearYou/location">
                        <i class="fas fa-search"></i>Status of COVID Near You</a>
                </li>
                <li class="has-sub">
                    <a class="text-white" href="<?php echo URLROOT;?>News/show">
                        <i class="fas fa-newspaper"></i>
                        <span class="bot-line"></span>Publicity</a>
                </li>
                <!--       <li class="has-sub">
                    <a class="text-white" href="<?php echo URLROOT;?>Bulletin">
                        <i class="fas fa-bell"></i>
                        <span class="bot-line"></span>Covid-19 Bulletins</a>
                </li>
                -->
                <li class="has-sub">
                    <a class="text-white" href="<?php echo URLROOT;?>Analysis/show">
                        <i class="fas fa-chart-line"></i>
                        <span class="bot-line"></span>Covid-19 Analysis</a>
                </li>
                <li class="has-sub text-white">
                    <a class="text-white" href="<?php echo URLROOT;?>Donate">
                        <i class="fas fa-rupee"></i><span> Donate</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- END HEADER MOBILE -->